h1, h2, h3, h4, h5, h6{
color: #f1356d;
}
.about{
width: 100vw;
height: 70vh;
background-color: #5f6f94;
}

.about-content{
display: inline-flex;
width: 55rem;
height: 5rem;
/* align-content: center; */
}



.about-forMore:hover{
background-color: #f1356d;
}
                    
.about-forMore{
border: 2px solid #f1356d;
color: #fff;
background-color: transparent;
border-radius: 50px;
padding: 12px 75px 9px 75px;
transition: 0.4s;
font-size: 14px;         
}

.about-para{
color: #ff0000;
margin-left: 5rem;
margin-top: 2rem;
}
.about-pix{
position: absolute;
width: 30rem;
left: 20rem;
height: 20rem;
}