h1, h2, h3, h4, h5, h6{
color: #f1356d;
}
.about{
/* display: grid;
grid-template-rows: repeat(3 1rf); */
width: 100vw;
height: 70vh;
background-color: #5f6f94;
}

.about-content{
width: 55rem;
height: 5rem;
/* align-content: center; */
}

.about-para{
color: #fff;
}